//COLORS
@import "./colors/colors.scss";

//MIXIN
@import "../sass/common/mixin.scss";

* {
    padding: 0;
    margin: 0;
}

.container {
    box-sizing: border-box;
    min-height: 100vh;
    background-color: white;
    display: grid;
    grid-template-columns: 18vw 20vw 4fr 18vw;
    grid-auto-rows: minmax(65px, auto);
}

.header1 {
    background-color: white;
    grid-column: 2/4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;

    .logo {
        width: 150px;
    }

    .menu {
        display: flex;
        list-style: none;
        flex-direction: row;
        gap: 25px;

        .items {
            font-size: 20px;
            cursor: pointer;

            &:hover {
                color: $hover-color;
            }

            &.itemred {
                color: $hover-color;
            }
        }
    }

    .burguer {
        display: none;
    }
}

.header2 {
    display: flex;
    grid-column: 1/5;
    grid-row: 2/6;
    background-image: url(../images/headerback.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .vagas {
        display: flex;
        align-items: center;
        padding-left: 19%;
        @include text-conf(black, 50px, lighter);
    }
}

.sidebar {
    background-color: white;
    grid-column: 2/3;
    margin-right: 15px;

    .searchtitle {
        font-family: meriweather, sans-serif;
        margin-top: 50px;
        color: #44494b;
        font-size: 25px;
        font-weight: 700;
    }

    .searchbar {
        margin-top: 10px;
        display: block;
        width: 100%;
        height: 47px;
        padding-left: 20px;
        outline: none;
        border: solid $items-space-border-background 1px;
        border-radius: 5px;

        &::placeholder {
            font-style: italic;
            @include text-conf($items-space-border-background, 14px, bold);
        }
    }

    .sidetitles {
        font-family: meriweather, sans-serif;
        font-weight: 700;
        color: $sidetitles;
        font-size: 1.71428571em;
        margin-top: 50px;
        @include text-conf($sidetitles, 1.71428571em, 700);
    }

    .sidemenu {
        list-style: none;
        padding: 35px 20px;
        background-color: #ebeeef;

        &.sidemenu1 {
            margin: 10px auto 60px auto;
        }

        .sidemenuitem {
            padding: 4px 2px;
            border-bottom: solid 1px #bbb;
            font-family: "Cabin", sans-serif;
            margin: 4px;
            @include text-conf(#333, 14px, normal);

            &.item-no-b {
                border: none;
            }
        }

        .sidemenuin {
            list-style: none;
            padding-left: 30px;
            margin-top: 10px;

            .sidemenuitemin {
                padding: 6px 2px;
                border-bottom: solid 1px #bbb;
                padding-right: 30px;
            }
        }

        .sidemenu2 {
            margin: 10px auto auto auto;
        }
    }
}

.maincontent {
    background-color: white;
    grid-column: 3/4;

    .topbuttonlist {
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 12% auto 20px auto;

        .button {
            list-style: none;
            background-color: #bbb;

            &.topbutton {
                padding: 15px;
                border-radius: 5px;
            }

            &.pageinfo {
                padding: 15px 40px;
            }
        }
    }

    .vaga {
        background-color: #bbb;
        display: flex;
        width: 95%;
        height: 120px;
        justify-content: center;
        align-items: center;
    }

    .vagas-main {
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
        align-items: center;
        gap: 15px;
        margin: 0px auto 20px auto;
    }
}

.footer1 {
    background-color: $footer-background;
    grid-column: 1/5;

    .footeritems {
        display: flex;
        gap: 10px;
        flex-flow: row wrap;
        justify-content: flex-start;
        margin: 5% auto 4% 20%;
    }

    .bigicon {
        background-color: black;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        margin: auto auto auto 60px;
        cursor: pointer;
    }

    .footericonslist {
        display: flex;
        gap: 12px;
        list-style: none;
        justify-content: flex-end;
        margin: 30px 30px auto auto;

        .footericons {
            background-color: #bbb;
            gap: 10px;
            width: 44px;
            height: 44px;
            border-radius: 50%;
            cursor: pointer;
        }
    }

    .foottitle {
        color: $footitles;
        margin: 20px;
        margin-right: 10vw;

        &.foottitlelast {
            padding-top: 10px;
        }
    }

    .footerspace {
        .footerlist {
            list-style: none;
            margin: 20px;

            .footmenuitem {
                box-sizing: border-box;
                margin: 10px auto;
                font-family: "Cabin", sans-serif;
                font-size: 14px;
                color: rgba(255, 255, 255, 0.75);
            }
        }
    }
}

@media (max-width: 1310px) {
    .sidebar {
        .searchtitle {
            font-size: 20px;
        }
    }
}

@media (max-width: 1070px) {
    .sidebar {
        grid-column: 1/3;
        padding: 10px;
    }

    .maincontent {
        grid-column: 3/5;
    }

    .header1 {
        grid-column: 1/5;

        .logo {
            width: 100px;
        }
    }

    .footer1 {
        .footeritems {
            flex-direction: column;
            align-items: flex-start;
        }

        .footerspace {
            .bigicon {
                display: flex;
            }
        }
    }
}

@media (max-width: 620px) {
    .header1 {
        grid-column: 1/5;
        grid-row: 1 / auto;

        .burguer {
            background-color: #bbb;
            display: block;
            width: 40px;
            height: 40px;
            border-radius: 5px;
            cursor: pointer;
        }

        .menu {
            display: none;
        }
    }

    .header2 {
        grid-column: 1/5;
        grid-row: 2 / auto;

        .vagas {
            font-size: 30px;
        }
    }

    .maincontent {
        grid-column: 1/5;
        grid-row: 3 / auto;
    }

    .sidebar {
        grid-column: 1/5;
        grid-row: 4 / auto;
    }

    .footer1 {
        grid-column: 1/5;
        grid-row: 5 / auto;
    }
}
